/* Login.css */

body {
  background-color: #121212; /* Dark background for the whole page */
  color: #e0e0e0; /* Light text color */
  justify-content: center;
}

.Login {
  /*background-color: #1e1e1e; /* Slightly lighter dark background for the form */
  padding: 20px;
  border-radius: 10px;
  /*box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);*/
  width: 300px;
  margin: 50px auto;
  text-align: center;
}

.Login.Dark {
  background-color: #1e1e1e; /* Slightly lighter dark background for the form */
}
.Login.Light {
  background-color: #ffffff; /* Slightly lighter dark background for the form */
}

.Login h1 {
  margin-bottom: 10px;
  margin-top: 5px;
  /*color: #ffffff;*/
}
.Login.Dark h1 {
  margin-bottom: 10px;
  margin-top: 5px;
  color: #ffffff;
}
.Login.Light h1 {
  margin-bottom: 10px;
  margin-top: 5px;
  color: #000000;
}

.Login input {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;

  border-radius: 5px;

  outline: none;
  transition: border-color 0.3s ease;
}
.Login.Light input {
  background-color: #ffffff;
  border: 1px solid #dadada;
  color: #000000;
}
.Login.Dark input {
  background-color: #2c2c2c;
  border: 1px solid #333;
  color: #e0e0e0;
}

.Login.Dark input:focus {
  border-color: #6200ea; /* Highlight color */
}
.Login.Light input:focus {
  border-color: #535353; /* Highlight color */
}

.Login button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  background-color: #6200ea; /* Button color */
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.Login.Dark button {
  background-color: #6200ea; /* Button color */
  color: #ffffff;
}
.Login.Light button {
  background-color: #cccccc; /* Button color */
  color: #000000;
}

.Login button:disabled {
  cursor: not-allowed;
}

.Login.Dark button:disabled {
  background-color: #444;
}
.Login.Light button:disabled {
  background-color: #ffabab;
}

.Login.Dark button:hover:not(:disabled) {
  background-color: #3700b3; /* Darker button color when hovered */
}
.Login.Light button:hover:not(:disabled) {
  background-color: #e2e2e2; /* Lighter button color when hovered */
}
