body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
.Light body {
  background-color: #ffffff;
}

.app-container {
  display: flex;
  height: auto;
  font-family: inherit;
}
.app-container.Dark {
  background-color: #121212;
  color: #ffffff;
}
.app-container.Light {
  background-color: #f0f0f0;
  color: #000000;
}

.sidebar {
  width: 200px;
  padding: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.sidebar.Dark {
  background-color: #1e1e1e;
  border-right: 1px solid #333;
}
.sidebar.Light {
  background-color: #ffffff;
  border-right: 1px solid #ddd;
}

.sidebar-text {
  text-align: center;
  transition: color 0.3s;
}
.sidebar-text.Dark {
  color: #ffffff;
}
.sidebar-text.Light {
  color: #000000;
}

.webite-button {
  display: block;
  margin: 5px 0;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  font-family: inherit;
  padding: 0.6em 1.2em;
  font-size: 1em;
}
.webite-button.Dark {
  background-color: #333;
  color: #ffffff;
  border: 1px solid #444;
}
.webite-button.Dark:hover {
  background-color: #444;
}
.webite-button.Light {
  background-color: #e0e0e0;
  color: #000000;
  border: 1px solid #bbb;
}
.webite-button.Light:hover {
  background-color: #d0d0d0;
}

.iframe-container {
  flex-grow: 1;
  transition: background-color 0.3s;
}
.iframe-container.Dark {
  background-color: #1a1a1a;
}
.iframe-container.Light {
  background-color: #ffffff;
}

.iframe-content {
  border: none;
}
